.mlp-logo {
  grid-area: logo;
  display: grid;
  grid-template-columns: repeat(2, max-content);
  align-content: center;
  justify-self: start;

  font-family: 'Work Sans';
  font-weight: 500;
  font-size: 25px;
  transition: 0.1s;
}

.mlp-logo-day {
  color: black;
}

.mlp-logo-night {
  color: white;
}

.mlp-menu {
  grid-area: menu;
  display: grid;
  align-content: center;
  justify-self: center;
}

.mlp-button-menu {
  width: 24px;
  height: 24px;

  justify-self: end;
  display: grid;
  justify-content: center;
  align-content: center;

  border: 0;
  background-color: transparent;
  
  cursor: pointer;
}

.mlp-style-change {
  grid-area: style;
  justify-self: center;
  display: grid;
  justify-content: center;
  align-content: center;
  width: 24px;
  height: 24px;

  border: 0;
  background-color: transparent;

  cursor: pointer;
}

@media(min-width: 768px) {
  .mlp-menu {
    grid-template-columns: repeat(6, max-content);
  }
  .mlp-style-change {
    justify-self: end;
  }
}