.mlp-intro-after {
  position: absolute;
  z-index: -1;
  height: 100%;

  &-day {}
  &-night {}

  transition: 0.1s;
}

.mlp-intro-image {
  grid-area: image;
}

.mlp-intro-header {
  grid-area: header;

  &-day {}
  &-night {}

  transition: 0.1s;
}

.mlp-intro-text {
  grid-area: text;

  &-day {}
  &-night {}

  transition: 0.1s;
}

.contact-us {
  grid-area: contact-us;

  transition: 0.1s;
}

@media(min-width: 50px) {
  .mlp-intro-image {
    width: 335px;
  }
  .mlp-intro-header {
    margin: 50px 27px 0px 26px;
  }
  .mlp-intro-text {
    margin: 18px 27px 0px 26px;
  }
  .contact-us {
    margin: 27px 27px 0px 26px;
  }
  .mlp-intro-after {
    width: 100%;
  }
}

@media(min-width: 768px) {
  .mlp-intro-image {
    width: 307px;
    margin: 16px 0px 0px 0px;
  }
  .mlp-intro-header {
    margin: 0px;
  }
  .mlp-intro-text {
    margin: 18px 0px 0px 0px;
  }
  .contact-us {
    margin: 32px 0px 0px 0px;
  }
}

@media(min-width: 1440px) {
  .mlp-intro-image {
    width: 639px;
    margin: 0px;
  }
  .mlp-intro-header {
    margin: 27px 0px 0px 0px;
  }
  .mlp-intro-text {
    margin: 11px 0px 0px 0px;
  }
  .contact-us {
    margin: 43px 0px 0px 0px;
  }
  .mlp-intro-after {
    width: 100vw;
    left: calc((100vw - 1440px) / -2);
  }
}