<div 
  [ngClass]="[ 'mlp-intro-after' , 'mlp-intro-after-' + theme.themeName ]"></div>
<section 
  id="mlp-intro-social"
  [ngClass]="'mlp-social'">
</section>
<img
  src="../../../assets/images/Intro.svg" 
  alt="Image" 
  [ngClass]="'mlp-intro-image'">
<header 
  id="mlp-intro-header" 
  [ngClass]="[ 'mlp-intro-header' , 'mlp-intro-header-' + theme.themeName]"></header>
<p 
  id="mlp-intro-text" 
  [ngClass]="[ 'mlp-intro-text' , 'mlp-intro-text-' + theme.themeName]"></p>
<button 
  id="contact-us" 
  [ngClass]="'contact-us'">Contact Us</button>