.mlp-header {
  position: relative;

  width: 100%;

  display: grid;
  align-items: center;
  justify-content: space-between;
  transition: 0.1s;
}

.mlp-intro {
  position: relative;

  width: 100%;
  
  display: grid;
}

@media(min-width: 50px) {
  .mlp-header {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 'logo style button-menu';
  }
  .mlp-intro {
    padding: 50px 0px;
    grid-template-areas:  'image'
                          'header'
                          'text'
                          'contact-us';
    justify-items: center;
  }
}

@media (min-width: 768px) {
  .mlp-header {
    grid-template-columns: max-content 1fr max-content;
    grid-template-areas: 'logo menu style';
  }
  .mlp-intro {
    padding: 73px 53px 73px 40px;
    grid-template-areas:  'header image'
                          'text image'
                          'contact-us image';
    grid-template-columns: minmax(min-content, max-content) max-content;
    grid-template-rows: max-content max-content 1fr;
    justify-content: center;
    justify-items: start;
    align-items: start;
    column-gap: 19px;
  }
}

@media(min-width: 1440px) {
  .mlp-header {
    grid-template-columns: minmax(max-content, 1fr) max-content minmax(max-content, 1fr);
  }
  .mlp-intro {
    padding: 149px 137px 157px 135px;
    column-gap: 36px;
  }
}