.mlp-header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 'logo style menu';
  align-content: center;
  justify-content: space-between;
  transition: 0.1s;
}

.mlp-header-day {
  background-color: white;
}

.mlp-header-night {
  background-color: #3A3B3C;
}

@media (min-width: 768px) {
  .mlp-header {
    grid-template-columns: max-content 1fr max-content;
    grid-template-areas: 'logo menu style';
  }
}